mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
            h6.reviews__user= review.user.name
        p.reviews__text= review.review
        .reviews__rating
            each star in [1, 2, 3, 4, 5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive' }`)
                    use(xlink:href='/img/icons.svg#icon-star')

mixin reviewRatingTour(id, value)
    input.form__input(class="rating-star" type="radio" id=`${id}` name=`rating` value=`${value}`)
    label.form__label.form__label--rating(for=`${id}`)
        span
            svg.reviews__star.reviews__star--inactive
                use(xlink:href='/img/icons.svg#icon-star' data-rating=`${value}`)

mixin editReviewRating(id, value, currentRating, reviewId)
    input.form__input(class="rating-star" type="radio" id=`${id}` name=`rating-${reviewId}` value=`${value}` data-current-rating=`${currentRating}`)
    label.form__label.form__label--rating(for=`${id}`)
        span
            svg.reviews__star(class=`reviews__star--${currentRating >= value ? 'active' : 'inactive'}` data-rating-id=`rating-${reviewId}`)
                use(xlink:href='/img/icons.svg#icon-star' data-rating=`${value}`)